# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.spec
.venv/

# Build Outputs & Packaging
dist/
build/
*.exe
*.zip
*.tar.gz
VERSION.txt

# Embedded Binaries (Never track portable blender in git)
engine/
blender_portable/
blender_linux/

# Operating System Files
.DS_Store
Thumbs.db
