[Desktop Entry]
Name=BenForge
Comment=3D Pattern Unfolder & Metal/Armor Fabrication Suite
Exec=/home/sacton3/Desktop/BenForge/run.sh
Icon=applications-engineering
Terminal=false
Type=Application
Categories=Graphics;Engineering;3DGraphics;
StartupNotify=true
Path=/home/sacton3/Desktop/BenForge
